.navigation {
    background: blueviolet;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.navigation > a {
    text-decoration: none;
    color: snow;
    font-size: 26px;
}

.navigation > a:hover, .navigation > a.active {
    color: red;
}